{% extends "base.html" %}
{% block content %}

<!-- About Start -->
    <div class="container-xxl py-6" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center mb-5">
                        <div class="years flex-shrink-0 text-center me-4">

                        <div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h3 class="lh-base mb-0">Hi, I'm Rahul, a recent graduate with a Bachelor of Science in Mathematics and a passion for data science.</h3>
            <p class="mb-4"> My goal is to help organizations make better decisions by leveraging the power of data. I have experience working with various data analysis and visualization tools such as </p>
            <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Python</p>
            <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Sql</p>
            <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Tableau</p>
            <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
        </div>
    </div>
</div>

            </div>
        </div>
    </div>
    <!-- About End -->
{% endblock %}